$b: #29ABE2;
$b_hover: #29B2E8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  ::before,
  ::after {
    box-sizing: border-box;
  }
  ::selection {
    background-color: #000;
    color: #fff;
  }
  &::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    width: 17px;
    height: 17px;
    background: #E5E5E5;
    border-radius: 100px;
    cursor: pointer;
  }
}
html,body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #fff;
  min-height: 100%;
  * {
    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      width: 12px;
      height: 12px;
      background: #E5E5E5;
      border-radius: 100px;
      cursor: pointer;
    }
  }
  &.no_scroll {
    //position: fixed;
    //left: 0;
    //width: 100%;
    //height: 100%;
    overflow: hidden;
    @media all and (max-width: 1024px) {
      overflow: hidden;
    }
  }
}
.page {
  width: 948px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}
ul, li {
  list-style: none;
}
a {
  color: #000000;
  transition: .2s;
  text-decoration: none;
  @media all and (min-width: 1025px) {
    &:not(.btn):hover {
      color: $b;
    }
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
input,
textarea,
button,
select {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  -webkit-appearance: none !important;
  border-radius: 0 !important;
  background: none;
  // &:not(button) {
    // font-style: italic;
  // }
  &::-webkit-contacts-auto-fill-button {
    opacity: 0;
  }
  &::-webkit-input-placeholder {
    color: #7F7F7F;
    opacity: 1;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
  }
  &::-moz-placeholder {
    color: #7F7F7F;
    opacity: 1;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
  }
  &:-moz-placeholder {
    color: #7F7F7F;
    opacity: 1;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
  }
  &:-ms-input-placeholder {
    color: #7F7F7F;
    opacity: 1;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
  }
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input.hidden_input {
  display: none;
}

button {
  cursor: pointer;
  transition: .3s;
}

#root {
  height: 100%;
}
#all {
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  header,
  main,
  footer {
    width: 100%;
    max-width: 100%;
  }
  .wrapper_page {
    flex-grow: 1;
  }
  main {
    flex-grow: 1;
  }
}

.btn {
  height: 52px;
  min-width: 257px;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #E5E5E5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100px !important;
  background-color: transparent;
  color: $b;
  @media all and (min-width: 1025px) {
    &:hover {
      color: $b_hover;
    }
  }
  &.btn_blue {
    width: 320px;
    height: 55px;
    border-radius: 20px !important;
    background: $b;
    border-color: $b;
    color: #ffffff;
    @media all and (min-width: 1025px) {
      &:hover {
        background: $b_hover;
        border-color: $b_hover;
        color: #ffffff;
      }
    }
  }
  &.btn_red {
    color: #ED1C24;
    @media all and (min-width: 1025px) {
      &:hover {
        color: rgb(211, 25, 31);
      }
    }
  }
  &:disabled {
    background: #7FC8E2;
    border-color: #7FC8E2;
    pointer-events: none;
  }
}

.send_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 40px;
  border-radius: 20px !important;
  background: $b;
  &:hover {
    background: $b_hover;
  }
  &:disabled {
    background: #7FC8E2;
    border-color: #7FC8E2;
    pointer-events: none;
  }
}

.field:not(.field_textarea) {
  position: relative;
  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
  input, textarea {
    border: 1px solid #E5E5E5;
    border-radius: 20px !important;
    padding: 0 30px;
    width: 100%;
    height: 54px;
    vertical-align: bottom;
    &:disabled {
      background: #FCFCFC;
    }
  }
  textarea {
    resize: none;
    height: 290px;
    padding: 24px 30px;
  }
}
.field {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    transition: .3s;
    width: 19px;
    height: 20px;
    opacity: 0;
    pointer-events: none;
    background: url(../images/icons/error.svg) center / 19px 20px no-repeat;
  }
  &.field_textarea {
    &:after {
      transform: translateY(0);
      top: 29px;
    }
  }
  &.error {
    &:after {
      opacity: 1;
    }
  }
}
.field_textarea {
  border: 1px solid #E5E5E5;
  border-radius: 20px !important;
  padding: 30px;
  textarea {
    resize: none;
    width: 100%;
    height: 290px;
    vertical-align: bottom;
  }
}


.wrapper_go_home {
  margin-top: 134px;
  text-align: center;
  margin-bottom: 70px;
}
