#loader_page {
  transition: .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #fff;
  z-index: 1000;
  &.on {
    opacity: 0;
    pointer-events: none;
  }
}

header {
  border-bottom: 1px solid #E5E5E5;
  padding: 22px 0;
  position: relative;
  .logo {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 100%;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      border-color: #000000;
      color: #000000;
    }
  }
  .page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      a {
        font-weight: 400;
        &:not(:first-child) {
          margin-left: 77px;
        }
        &.active {
          color: $b;
        }
      }
    }
  }
  .btn:not(:hover) {
    color: #7F7F7F;
  }
  .user_menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $b;
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
  }
  .status_work {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    span {
      font-size: 25px;
    }
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      font-size: 14px;
      font-weight: 400;
      color: #7F7F7F;
      border: 1px solid #F2F2F2;
      width: 178px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:first-child {
        border-radius: 100px 0 0 100px;
        border-right: 0;
      }
      &:last-child {
        border-radius: 0 100px 100px 0;
        border-left: 0;
      }
      &.current {
        border-color: $b;
        background: $b;
        color: #fff;
      }
    }
  }

}

.title_page {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin-top: 120px;
  font-weight: 300;
}

.about {
  .title_page {
    margin-bottom: 153px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 260px;
    }
  }
  .col {
    width: 47%;
    text-align: center;
    .t {
      font-size: 25px;
      line-height: 30px;
      margin: 7px 0 0;
    }
    .text {
      line-height: 24px;
      width: 320px;
      max-width: 100%;
      margin: 61px auto 0;
    }
  }
  .image {
    width: 39.13%;
    height: 291px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    &.image_1 {
      background-image: url(../images/about-1.jpg);
    }
    &.image_2 {
      background-image: url(../images/about-2.jpg);
    }
    &.image_3 {
      background-image: url(../images/about-3.jpg);
    }
    &.image_4 {
      background-image: url(../images/about-4.jpg);
    }
  }
}


.rules {
  width: 767px;
  max-width: 100%;
  margin: 0 auto;
  .description_rules {
    margin: 61px 0 115px;
    padding: 0 10% 44px;
    border-bottom: 1px solid #E5E5E5;
    line-height: 24px;
    color: #7F7F7F;
    text-align: center;
    font-style: italic;
  }
  .row:not(:last-child) {
    margin: 0 0 145px;
  }
  .title_row, h2, h3 {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
    margin: 0 0 57px;
  }
  p {
    font-size: 14px;
    color: #7F7F7F;
    line-height: 21px;
    font-weight: 400;
    margin: 0 0 12px;
    strong, b {
      color: #000000;
      font-weight: 400;
    }
  }
  ul, li {
    list-style: decimal;
    font-size: 14px;
    color: #000;
    line-height: 21px;
    font-weight: 400;
    p {
      margin: 0;
    }
  }
  ul {
    padding: 0 0 0 14px;
    margin: 0 0 12px;
  }
  @media all and (max-width: 800px) {
    ol {
      padding-left: 17px;
    }
  }
  li {
    padding: 0 0 0 10px;
    &:not(:last-child) {
      margin: 0 0 22px;
    }
  }
}

.tabs_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 96px;
  .tab {
    font-size: 14px;
    font-weight: 400;
    color: #7F7F7F;
    border: 1px solid #F2F2F2;
    width: 178px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:first-child {
      border-radius: 100px 0 0 100px;
      border-right: 0;
    }
    &:last-child {
      border-radius: 0 100px 100px 0;
      border-left: 0;
    }
    &.active {
      border-color: $b;
      background: $b;
      color: #fff;
    }
  }
}

.faq {
  .title_page {
    margin-bottom: 55px;
  }
  .row {
    border-bottom: 1px solid #E5E5E5;
    line-height: 19px;
    padding: 0 0 56px;
    &:not(:last-child) {
      margin: 0 0 55px;
    }
  }
  .question {
    margin-bottom: 15px;
  }
  .answer {
    color: #7F7F7F;
  }
}

.chat_page {
  width: 588px;
  max-width: 100%;
  margin: 0 auto;
  .chat {
    margin: 85px 0 70px;
    min-height: 154px;
    position: relative;
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .message {
      &:not(:last-child) {
        margin-bottom: 44px;
      }
      &.my_message {
        text-align: right;
      }
      p {
        display: inline-block;
        width: 432px;
        max-width: 87%;
        padding: 16px 30px;
        border: 1px solid #E5E5E5;
        border-radius: 20px;
        font-size: 14px;
        color: #4C4C4C;
        line-height: 21px;
        font-weight: 400;
        text-align: left;
      }
    }
  }
}
#form_send_message {
  width: 100%;
  height: 117px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  padding: 14px 10px 14px 30px;
  position: relative;
  textarea {
    width: 100%;
    height: 100%;
    padding: 10px 120px 10px 0;
    resize: none;
  }
  button {
    position: absolute;
    bottom: 11px;
    right: 15px;
  }
}

.contact_page {
  width: 590px;
  max-width: 100%;
  margin: 0 auto;
  .title_page {
    margin-bottom: 71px;
  }
  .contact_form {
    position: relative;
    form {
      position: relative;
      transition: .3s;
      .send_btn {
        width: 174px;
        position: absolute;
        bottom: 41px;
        left: 50%;
        transform: translateX(-50%);
      }
      textarea {
        padding-bottom: 90px;
        height: 228px;
      }
    }
    .message_form {
      text-align: center;
      color: $b;
      line-height: 24px;
      border: 1px solid #E5E5E5;
      border-radius: 20px;
      padding: 48px 30px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      opacity: 0;
      pointer-events: none;
      transition: .3s;
      .text {
        width: 390px;
        max-width: 100%;
        margin: 53px auto 0;
      }
    }
    &.sended {
      .message_form {
        opacity: 1;
        pointer-events: auto;
      }
      form {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}




footer {
  border-top: 1px solid #E5E5E5;
  padding: 28px 0;
  .logo {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 100%;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      border-color: #000000;
      color: #000000;
    }
  }
  .page {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    a {
      font-size: 14px;
      font-weight: 400;
      &:not(:first-child) {
        margin-left: 70px;
      }
      &.active {
        color: $b;
      }
    }
  }
}

.tabs {
  padding: 94px 0 33px;
  text-align: center;
  a {
    display: inline-block;
    font-size: 28px;
    font-weight: 300;
    padding: 0 11px 15px;
    margin: 0 60px;
    border-bottom: 1px solid transparent;
    &.current {
      color: $b;
      border-color: $b;
    }
  }
}
.form_translate {
  padding: 0 0 146px;
  p {
    text-align: center;
    color: $b;
    margin: 0 0 87px;
  }
  textarea {
    height: 202px;
  }
  .field_textarea {
    position: relative;
    padding-bottom: 106px;
    border-color: #F2F2F2;
  }
  .lang {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 280px;
    .text {
      padding-left: 30px;
      font-size: 14px;
      line-height: 24px;
      div:last-child {
        font-weight: 400;
      }
    }
  }
  .formats {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 56px 0 65px;
  }
  .file_translate {
    position: relative;
    .add_file {
      display: none;
      & + label {
        cursor: pointer;
        display: block;
        height: 208px;
        width: 100%;
        border: 1px solid #F2F2F2;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: .3s;
        position: absolute;
        left: 0;
        top: 0;
        .loader {
          width: 44px;
          height: 44px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .plus {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 45px;
          height: 45px;
          background: url(../images/icons/plus.svg) center / 45px 45px no-repeat;
          pointer-events: none;
        }
      }
    }
    .field_textarea {
      position: relative;
      pointer-events: none;
      opacity: 0;
      transition: .3s;
      padding-top: 40px;
      textarea {
        height: 60px;
        transition: .3s;
      }
      .file_info {
        .name {
          font-size: 14px;
          font-weight: 700;
          position: absolute;
          top: 10px;
          left: 0;
          width: 100%;
          padding: 0 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
        }
        .lang {
          width: auto;
          position: absolute;
          bottom: 38px;
          left: 37px;
        }
      }
      .cancel {
        background: url(../images/icons/cancel.svg) center / 15px 15px no-repeat;
        width: 15px;
        height: 15px;
        position: absolute;
        z-index: 2;
        top: 17px;
        right: 12px;
        cursor: pointer;
      }
    }
    &.active {
      .add_file + label {
        opacity: 0;
        pointer-events: none;
      }
      .field_textarea {
        opacity: 1;
        pointer-events: auto;
        textarea {
          height: 400px;
        }
      }
    }
  }
  .button_choose_wrapper {
    .btn {
      width: 218px;
    }
  }
  .text_information {
    position: absolute;
    bottom: 38px;
    left: 37px;
    right: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .2s;
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
    .loader {
      width: 44px;
      height: 44px;
    }
    .buttons {
      display: flex;
      align-items: center;
      margin-left: 21px;
      .btn {
        height: 55px;
        width: 52px;
        min-width: auto;
        &:first-child {
          width: 218px;
          margin-right: 14px;
        }
      }
    }
  }

}
.title_inside {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 126px;
}
.how_it_work {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  padding: 96px 0 12px;
  .steps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    .step {
      width: 29.34%;
      position: relative;
      margin-bottom: 99px;
      .n {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        box-shadow: 2px 2px 4px rgba(229,229,229,0.5);
        font-size: 22px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -68%);
        background: #FFFFFF;
      }
      .text {
        border: 1px solid #F2F2F2;
        border-radius: 20px;
        height: 136px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        padding: 0 16px;
      }
    }
  }
}

.why {
  padding: 122px 0 0;
  .title_inside {
    margin: 0 0 146px;
  }
  .items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    .item {
      position: relative;
      width: 47.19%;
      margin-bottom: 128px;
    }
    .ico {
      width: 85px;
      height: 85px;
      border-radius: 100%;
      box-shadow: 2px 2px 4px rgba(229,229,229,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -68%);
      background: #FFFFFF;
    }
    .text {
      border: 1px solid #F2F2F2;
      border-radius: 20px;
      min-height: 314px;
      text-align: center;
      padding: 60px 16px 0;
    }
    .t {
      font-size: 20px;
      font-weight: 400;
      margin: 0 0 28px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      width: 308px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

.info_numbers {
  padding: 80px 0 73px;
  background: #F2F2F2;
  .items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    .item {
      width: 21.57%;
      &:nth-child(2) {
        margin: 0 82px;
      }
    }
    .n {
      width: 150px;
      height: 150px;
      margin: 0 auto 35px;
      border: 1px solid #E5E5E5;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 400;
    }
    .text {
      font-size: 18px;
      color: #7F7F7F;
    }
  }
}

.our_mission {
  padding: 131px 0 168px;
  .title_inside {
      margin: 0 0 76px;
  }
  .text {
    margin: 0 auto;
    width: 612px;
    max-width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
}



.wrapper_choose {
  padding-bottom: 115px;
  .first_text_free {
    text-align: center;
    color: #29ABE2;
    margin: 45px 0 0;
  }
  .title_page {
    position: relative;
    .back {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 38px;
      height: 38px;
      cursor: pointer;
      svg {
        width: 38px;
        height: 38px;
        transition: .3s;
        fill: #000;
      }  
      // @media all and (min-width: 1025px) {
      //   &:hover {
      //     svg {
      //       fill: $b;
      //     }
      //   }
      // }
    }
  }
}
.items_choose {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 92px 0 44px;
  .item {
    width: calc( (100% - 48px * 2) / 3 );
    height: 77px;
    margin: 0 47px 42px 0;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
    cursor: pointer;
    transition: .3s;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &.current {
      background: #F9F9F9;
    }
    @media all and (min-width: 1025px) {
      // &:hover {
        // background: #F9F9F9;
      // }
    }
    .image {
      width: 38px;
    }
    .text {
      flex-grow: 1;
      font-size: 14px;
      font-weight: 400;
      display: inline-flex;
      justify-content: center;
    }
    &.item_lang_add {
      align-items: flex-start;
      padding: 20px 0 0 30px;
      height: 100px;
      .text {
        padding: 6px 0 0;
        p {
          display: flex;
          flex-direction: column;
          position: relative;
        }
        div {
          margin: 0 0 12px;
        }
        span {
          color: $b;
          font-size: 16px;
          &.old {
            position: absolute;
            top: 18px;
            left: 0;
            color: #797979;
            font-size: 12px;
            text-decoration: line-through;
          }
        }
      }      
    }
  }
}
.button_choose_wrapper {
  text-align: center;
}


.popup_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 100;
  display: flex;
  transition: .5s;
  opacity: 0;
  pointer-events: none;
  &.open_popup {
    opacity: 1;
    pointer-events: auto;
  }
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.25;
    cursor: pointer;
  }
  .popup {
    position: relative;
    width: 467px;
    max-width: 100%;
    min-width: 320px;
    max-height: 100%;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  .close {
    position: relative;
    button {
      position: absolute;
      top: 20px;
      right: 19px;
      cursor: pointer;
    }
  }
  .content_popup {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 66px 58px 53px;
    button {
      width: 100%;
      margin: 48px 0 45px;
      &.registration_btn {
        margin-bottom: 33px;
      }
      &.comment_btn {
        margin: 31px 0 0;
      }
      &.email_btn {
        margin: 31px 0 0;
        position: relative;
        .loader {
          width: 35px;
          height: 35px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: .2s;
          opacity: 0;
          pointer-events: none;
          & > circle {
            fill: #fff;
          }
        }
        span {
          transition: .2s;
        }
        &.load_btn {
          .loader {
            opacity: 1;
          }
          span {
            opacity: 0;
          }
        }
      }
    }
    .error_wrapper {
      position: relative;
    }
    .error_text {
      transition: .3s;
      opacity: 0;
      text-align: center;
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      color: #da001e;
      font-size: 16px;
      &.active {
        opacity: 1;
      }
    }
  }
  .field {
    input {
      border-radius: 0 !important;
      border: 0;
      border-bottom: 1px solid $b;
      padding: 0 38px 0 0;
    }
    &:not(:last-of-type) {
      margin-bottom: 18px;
    }
  }
  .title {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 29px;
  }
  p {
    color: #7F7F7F;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
    a {
      color: #7F7F7F;
      text-decoration: underline;
    }
  }
  .link_registration {
    display: none;
  }
  .link_tab {
    text-align: center;
    border-top: 1px solid #E5E5E5;
    padding: 28px 0 0;
    a {
      font-size: 14px;
      font-weight: 400;
      color: $b;
      @media all and (min-width: 1025px) {
        &:hover {
          color: $b_hover;
        }
      }
    }
  }
  &.from_header {
    .link_tab {
      display: none;
    }
    .link_registration {
      display: block;
    }
  }
  .message_content {
    text-align: center;
    .ico {
      width: 69px;
      height: 69px;
      display: inline-block;
      background: url(../images/icons/information.svg) center / 69px 69px no-repeat;
      &.pay {
        background: url(../images/icons/pay.svg) center / 69px 69px no-repeat;
      }
    }
    .text {
      color: $b;
      font-size: 16px;
      line-height: 24px;
      margin: 40px 0 0;
    }
    .btn {
      width: 228px;
      height: 40px;
      margin-bottom: 0;
      min-width: auto;
      &.pay {
        width: 348px;
        height: 55px;
      }
    }
    .wrapper_buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.for_order {
      .btn_blue {
        margin-left: 8px;
        width: 51px;
        height: 40px;
      }
      .close {
        display: inline-block;
        width: 21px;
        height: 21px;
        background: url(../images/icons/close.svg) center / 21px 21px no-repeat;
      }
    }
  }
}



@keyframes ball-spin-fade-loader {
  50% {
      transform: scale(.3)
  }

  100% {
      transform: scale(1)
  }
}

.search_work {
  position: relative;
  text-align: center;
  padding: 150px 0 100px;
  svg, img {
    vertical-align: top;
  }
  p {
    width: 386px;
    max-width: 100%;
    margin: 40px auto 0;
    line-height: 27px;
    font-size: 18px;
    font-weight: 400;
  }
  .btn {
    margin-top: 30px;
  }
}
.loader {
  position: relative;
  width: 101px;
  height: 101px;
}

.loader > circle:nth-child(1) {
  animation: ball-spin-fade-loader 1s -.96s infinite linear;
  transform-origin: 50% 11%;
}

.loader > circle:nth-child(2) {
  animation: ball-spin-fade-loader 1s -.84s infinite linear;
  transform-origin: 78% 23%;
}

.loader > circle:nth-child(3) {
  animation: ball-spin-fade-loader 1s -.72s infinite linear;
  transform-origin: 89% 50%;
}

.loader > circle:nth-child(4) {
  animation: ball-spin-fade-loader 1s -.6s infinite linear;
  transform-origin: 78% 77%;
}

.loader > circle:nth-child(5) {
  animation: ball-spin-fade-loader 1s -.48s infinite linear;
  transform-origin: 50% 89%;
}

.loader > circle:nth-child(6) {
  animation: ball-spin-fade-loader 1s -.36s infinite linear;
  transform-origin: 23% 78%;
}

.loader > circle:nth-child(7) {
  animation: ball-spin-fade-loader 1s -.24s infinite linear;
  transform-origin: 11% 50%;
}

.loader > circle:nth-child(8) {
  animation: ball-spin-fade-loader 1s -.12s infinite linear;
  transform-origin: 23% 23%;
}

.loader > circle {
  animation-fill-mode: both;
}



.balance_page {
  padding-bottom: 50px;
  .score {
    text-align: center;
    margin: 109px 0 65px;
    div {
      font-size: 30px;
      line-height: 36px;
      font-weight: 400;
      margin-bottom: 14px;
    }
    span {
      font-size: 16px;
      line-height: 19px;
      font-weight: 300;
    }
  }
}

.withdraw_systems {
  display: flex;
  justify-content: space-between;
  margin-bottom: 115px;
  .item {
    width: 31%;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    height: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 170px;
    }
    &:nth-child(3) {
      img {
        width: 66px;
        height: 66px;
      }
    }
  }
}


.history {
  .title_inside {
    margin-bottom: 45px;
  }
  .item {
    padding: 17px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
    div {
      width: 100%;
      i {
        color: #797979;
        font-size: 12px;
        font-style: normal;
      }
      span {
        display: block;
        line-height: 20px;
        &.old {
          color: #797979;
          font-size: 12px;
          text-decoration: line-through;
        }
      }
    }
  }
}


.status_search {
  text-align: center;
  padding-top: 109px;
  padding-bottom: 132px;
  .progress_wrapper {
    width: 78px;
    height: 78px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto 37px;
    border: 1px solid #F7F7F7;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #F7F7F7;
      border-radius: 100%;
      width: calc(100% - 15px);
      height: calc(100% - 15px);
    }
  }
  .status_search {
    width: 78px;
    height: 78px;
    margin: 0 auto;
  }
  .btn {
    width: 298px;
  }
  .items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 124px;
    .item {
      border: 1px solid #F2F2F2;
      border-radius: 20px;
      width: 46.87%;
      padding: 42px 20px;
      .t {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 27px;
      }
      .time {
        font-size: 16px;
        line-height: 19px;
        color: #7F7F7F;
      }
    }
  }
}

.work_interface {
  padding-bottom: 128px;
  .title_page {
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 29px;
  }
  .hidden_comment {
    display: none;
  }
  .comment {
    box-shadow: 2px 2px 4px rgba(229,229,229,0.5);
    border: 1px solid #F9F9F9;
    border-radius: 20px;
    padding: 25px 34px 43px;
    margin-bottom: 52px;
    &.rise_comment {
      background:#FAFAFA;
      position: relative;
      .close {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
        width: 19px;
        height: 19px;
      }
    }
    .t {
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      margin-bottom: 17px;
    }
    .text {
      font-size: 16px;
      line-height: 19px;
    }
  }
  .info_order {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    .col {
      width: calc((100% - 20px) / 2);
      display: flex;
      justify-content: space-between;
    }
    .item {
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #F2F2F2;
      border-radius: 20px;
      height: 59px;
      &:not(:last-child) {
        margin-right: 14px;
      }
      &:not(.button) {
        flex-grow: 1;
      }
      &.button {
        width: 83px;
        flex-shrink: 0;
        cursor: pointer;
      }
      &.time_item {
        span {
          font-size: 12px;
          color: #999999;
        }
      }
    }
    .ico {
      width: 23px;
      height: 23px;
      display: inline-block;
    }
    .pause {
      background: url(../images/icons/pause.svg) center / 23px 23px no-repeat;
    }
    .artistic-brush {
      background: url(../images/icons/artistic-brush.svg) center / 23px 23px no-repeat;
      margin-right: 23px;
    }
    .next {
      background: url(../images/icons/next.svg) center / 23px 23px no-repeat;
    }
    .clock {
      background: url(../images/icons/clock.svg) center / 23px 23px no-repeat;
      margin-right: 23px;
    }
  }
  .text_translate {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 59px;
    .field {
      width: calc((100% - 20px) / 2);
      margin-bottom: 0;
    }
    textarea {
      height: 100%;
      min-height: 74px;
      max-height: 590px;
      border: 1px solid #F2F2F2;
    }
  }
  .title_stars {
    font-size: 16px;
    line-height: 25px;
    margin-top: 62px;
  }
  .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    i {
      width: 35px;
      height: 35px;
      background: url(../images/icons/star.svg) center / 35px 35px no-repeat;
      cursor: pointer;
      margin: 0 8px;
    }
  }
}


.info_block {
  text-align: center;
  width: 550px;
  max-width: 100%;
  margin: 130px auto 96px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  padding: 55px 100px 90px;
  .loader {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 0 0 45px;
  }
  .ico {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0 0 45px;
    background: url(../images/icons/information.svg) center / 35px 35px no-repeat;
    &.time {
      background: url(../images/icons/time-left.svg) center / 35px 35px no-repeat;
    }
  }
  p {
    font-size: 20px;
    line-height: 30px;
    color: $b;
  }
}
.wrapper_button_work {
  margin: 0 0 118px;
  text-align: center;
}

.order_accept {
  text-align: center;
  padding: 100px 0;
  .translator {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 26px;
  }
  .ico_smile {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: url(../images/icons/smile.svg) center / 60px 60px no-repeat;
    margin-bottom: 23px;
  }
  .btn {
    width: 298px;
  }
  .btn_red {
    margin: 0 0 69px;
  }
  .result_wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 0 93px;
    &.hidden {
      display: none;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 15px;
      padding: 6.75% 6.3%;
      border: 1px solid #F2F2F2;
      border-radius: 20px;
      img {
        max-width: 90%;
      }
    }
  }
  .result_editing {
    margin: -39px 0 0;
    .title {
      font-size: 16px;
      text-align: center;
      margin-bottom: 32px;
      font-weight: 400;
    }
    &.hidden {
      display: none;
    }
  }
}

.form_sender {
  position: relative;
  .error_popup_message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    .ico {
      width: 100px;
      height: 100px;
      background: url('../images/icons/exclamation.svg') center / 100% no-repeat;
      margin: 0 auto 27px;
    }
    .text {
      line-height: 27px;
      color: #ED1C24;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
    }
    &.registration_error {
      .btn {
        margin: auto 0 33px;
      }
    }
    .btn {
      margin-top: auto;
    }
    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }
}


#page_404 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: $b;
  z-index: 1000;
  display: flex;
  text-align: center;
  color: #fff;
  .wrapper_go_home {
    margin: 0;
    .btn {
      color: #fff;
    }
  }
  main {
    margin: auto;
  }
  h1 {
    font-size: 200px;
    line-height: 200px;
    margin: 0 0 50px;
  }
}