@media screen and (min-width: 1025px) {
    body.no_scroll {
        padding-right: 17px;
    }
    .popup_wrapper,
    #loader_page {
      left: calc(100vw - 100%);
      right: 0;
    }
  }

@media all and (max-width: 820px) {
    .work_interface .info_order {
        .clock {
            margin-right: 10px;
        }
        .artistic-brush {
            margin-right: 14px;
        }
        .item.button {
            width: 50px;
        }
    }
}
@media all and (max-width: 800px) {
    .wrapper_choose {
        padding-bottom: 60px;
    }
    .items_choose {
        justify-content: space-between;
        padding: 42px 0 0;
        .item {
            width: 48%;
            margin-right: 0;
            margin-bottom: 20px;
            &.item:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
@media all and (max-width: 768px) {
    .form_translate {
        padding: 0 0 50px;
    }
    .how_it_work .steps .step {
        width: 47.19%;
    }
    .info_numbers .items {
        justify-content: space-between;
        .item {
            width: auto;
        }
        .item:nth-child(2) {
            margin: 0;
        }
    }
}
@media all and (max-width: 700px) {
    header {
        .page nav {
            a:not(:first-child) {
                margin-left: 30px;
            }
        }
    }
    .form_translate .text_information {
        flex-wrap: wrap;
        .lang {
            margin: 0 20px 18px 0;
        }
        .buttons {
            margin-left: 0;
            .btn:first-child {
                width: 170px;
            }
        }
    }
    .rules .row:not(:last-child),
    .faq .title_page,
    .about .title_page {
        margin-bottom: 60px;
    }
    .about .row {
        width: 100%;
        flex-direction: column;
        .col,
        .image {
            width: 100%;
            order: 0;
            .text {
                margin: 17px auto 30px;
            }
        }
        .col.image {
            order: 1;
        }
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
    .wrapper_go_home {
        margin-top: 60px;
    }
    .rules {
        .title_row, h2, h3 {
            margin: 0 0 30px;
        }
    }
    .balance_page .score {
        margin: 60px 0 40px;
    }
    .withdraw_systems .item img {
        max-width: 80%;
    }
}
@media all and (max-width: 640px) {
    .work_interface {
        padding-bottom: 60px;
        .info_order {
            flex-wrap: wrap;
            margin-bottom: 0;
            .col {
                width: 100%;
                margin-bottom: 14px;
                .item {
                    &:first-child {
                        min-width: 20%;
                        flex-shrink: 0;
                        flex-grow: 0;
                    }
                }
            }
        }
        .text_translate {
            flex-wrap: wrap;
            margin-bottom: 30px;
            .field {
                width: 100%;
                &:first-child {
                    margin-bottom: 2vh;
                }
                textarea {
                    max-height: 48vh;
                }
            }
        }
        .comment {
            padding: 24px 20px;
        }
    }

}
@media all and (max-width: 620px) {
    .form_translate {
        .text_information .lang {
            margin-right: 0;
            width: 100%;
        }
        .field_textarea {
            &.for_text_tab {
                padding-bottom: 0;
                transition: .3s;
                &.active {
                    padding-bottom: 170px;
                }
            }
        }
    }
}

@media all and (max-width: 600px) {
    .how_it_work .steps .step,
    .why .items .item {
        width: 100%;
    }
    .form_translate p {
        margin: 0 0 40px;
    }
}
@media all and (max-width: 560px) {
    header {
        .center {
            a {
                width: 120px;
            }
        }
        .status_work {
            span {
                font-size: 18px;
            }
        }
    }
    .info_numbers .items {
        flex-wrap: wrap;
        .n {
            margin: 0 auto 14px;
        }
        .item,
        .item:nth-child(2) {
            width: 100%;
            margin: 0 0 40px;
        }
    }
    .why .title_inside,
    .title_inside {
        margin: 0 0 90px;
    }
    .our_mission {
        padding: 77px 0 100px;
        .title_inside {
            margin: 0 0 40px;
        }
    }
    .why .items .item {
        margin-bottom: 80px;
    }
    .how_it_work .steps .step {
        margin-bottom: 60px;
    }
    footer .page {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        nav {
            margin-top: 15px;
            a,
            a:not(:first-child) {
                margin: 0 8px;
            }
        }
    }
    .items_choose {
        justify-content: space-between;
        .item {
            width: 100%;
        }
    }
    .status_search {
        padding-top: 60px;
        padding-bottom: 60px;
        .items {
            margin-bottom: 60px;
            .item {
                width: 48%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                padding: 26px 20px;
                .progress_wrapper {
                    margin-bottom: auto;
                }
                .t {
                    font-size: 14px;
                    margin-top: 37px;
                    margin-bottom: 10px;
                }
                .time {
                    font-size: 14px;
                }
            }
        }
    }
    .info_block {
        margin: 60px auto 40px;
        padding: 55px 20px 90px;
    }
    .wrapper_button_work {
        margin: 0 0 60px;
    }
    .title_page {
        margin-top: 60px;
    }
}
@media all and (max-width: 500px) {
    .popup_wrapper .popup {
        width: 100%;
        height: 100%;
        border-radius: 0;
        .content_popup {
            padding: 66px 20px 53px;
        }
    }
    .search_work {
        padding: 100px 0;
    }
    .withdraw_systems {
        flex-wrap: wrap;
        margin-bottom: 50px;
        .item {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .history {
        .items {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
            .item {
                width: 48%;
                display: block;
                text-align: center;
            }
        }
    }
    .order_accept .result_wrapper a {
        margin: 0 6px;
    }
}
@media all and (max-width: 450px) {
    header {
        .status_work {
            left: auto;
            right: 20px;
            transform: translate(0, -50%);
            span {
                font-size: 18px;
            }
        }
        .page nav a {
            font-size: 14px;
            &:not(:first-child) {
                margin-left: 18px;
            }
        }
    }
    .tabs a {
        margin: 0 30px;
    }
    #page_404 h1 {
        font-size: 150px;
        line-height: 150px;
    }
}
@media all and (max-width: 420px) {
    header {
        .logo {
            width: 40px;
            height: 40px;
            font-size: 16px;
        }
        .center a {
            width: 86px;
            font-size: 12px;
        }
    }
}

@media all and (max-width: 380px) {
    header.simple_header {
        .page {
            flex-direction: column;
            nav {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 19px 0 0;
            }
        }
    }
}