@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0; }
  * ::before,
  * ::after {
    box-sizing: border-box; }
  * ::selection {
    background-color: #000;
    color: #fff; }
  *::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    background-color: transparent; }
  *::-webkit-scrollbar-thumb {
    width: 17px;
    height: 17px;
    background: #E5E5E5;
    border-radius: 100px;
    cursor: pointer; }

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  min-width: 320px;
  -webkit-text-size-adjust: 100%; }

body {
  background: #fff;
  min-height: 100%; }
  body *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent; }
  body *::-webkit-scrollbar-thumb {
    width: 12px;
    height: 12px;
    background: #E5E5E5;
    border-radius: 100px;
    cursor: pointer; }
  body.no_scroll {
    overflow: hidden; }
    @media all and (max-width: 1024px) {
      body.no_scroll {
        overflow: hidden; } }

.page {
  width: 948px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%; }

ul, li {
  list-style: none; }

a {
  color: #000000;
  transition: .2s;
  text-decoration: none; }
  @media all and (min-width: 1025px) {
    a:not(.btn):hover {
      color: #29ABE2; } }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

input,
textarea,
button,
select {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  -webkit-appearance: none !important;
  border-radius: 0 !important;
  background: none; }
  input::-webkit-contacts-auto-fill-button,
  textarea::-webkit-contacts-auto-fill-button,
  button::-webkit-contacts-auto-fill-button,
  select::-webkit-contacts-auto-fill-button {
    opacity: 0; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  button::-webkit-input-placeholder,
  select::-webkit-input-placeholder {
    color: #7F7F7F;
    opacity: 1;
    font-size: 14px;
    font-weight: 300;
    font-style: italic; }
  input::-moz-placeholder,
  textarea::-moz-placeholder,
  button::-moz-placeholder,
  select::-moz-placeholder {
    color: #7F7F7F;
    opacity: 1;
    font-size: 14px;
    font-weight: 300;
    font-style: italic; }
  input:-moz-placeholder,
  textarea:-moz-placeholder,
  button:-moz-placeholder,
  select:-moz-placeholder {
    color: #7F7F7F;
    opacity: 1;
    font-size: 14px;
    font-weight: 300;
    font-style: italic; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  button:-ms-input-placeholder,
  select:-ms-input-placeholder {
    color: #7F7F7F;
    opacity: 1;
    font-size: 14px;
    font-weight: 300;
    font-style: italic; }

input[type=checkbox],
input[type=radio] {
  display: none; }

input.hidden_input {
  display: none; }

button {
  cursor: pointer;
  transition: .3s; }

#root {
  height: 100%; }

#all {
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  #all header,
  #all main,
  #all footer {
    width: 100%;
    max-width: 100%; }
  #all .wrapper_page {
    flex-grow: 1; }
  #all main {
    flex-grow: 1; }

.btn {
  height: 52px;
  min-width: 257px;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #E5E5E5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100px !important;
  background-color: transparent;
  color: #29ABE2; }
  @media all and (min-width: 1025px) {
    .btn:hover {
      color: #29B2E8; } }
  .btn.btn_blue {
    width: 320px;
    height: 55px;
    border-radius: 20px !important;
    background: #29ABE2;
    border-color: #29ABE2;
    color: #ffffff; }
    @media all and (min-width: 1025px) {
      .btn.btn_blue:hover {
        background: #29B2E8;
        border-color: #29B2E8;
        color: #ffffff; } }
  .btn.btn_red {
    color: #ED1C24; }
    @media all and (min-width: 1025px) {
      .btn.btn_red:hover {
        color: #d3191f; } }
  .btn:disabled {
    background: #7FC8E2;
    border-color: #7FC8E2;
    pointer-events: none; }

.send_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 40px;
  border-radius: 20px !important;
  background: #29ABE2; }
  .send_btn:hover {
    background: #29B2E8; }
  .send_btn:disabled {
    background: #7FC8E2;
    border-color: #7FC8E2;
    pointer-events: none; }

.field:not(.field_textarea) {
  position: relative; }
  .field:not(.field_textarea):not(:last-of-type) {
    margin-bottom: 24px; }
  .field:not(.field_textarea) input, .field:not(.field_textarea) textarea {
    border: 1px solid #E5E5E5;
    border-radius: 20px !important;
    padding: 0 30px;
    width: 100%;
    height: 54px;
    vertical-align: bottom; }
    .field:not(.field_textarea) input:disabled, .field:not(.field_textarea) textarea:disabled {
      background: #FCFCFC; }
  .field:not(.field_textarea) textarea {
    resize: none;
    height: 290px;
    padding: 24px 30px; }

.field {
  position: relative; }
  .field:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    transition: .3s;
    width: 19px;
    height: 20px;
    opacity: 0;
    pointer-events: none;
    background: url(../images/icons/error.svg) center/19px 20px no-repeat; }
  .field.field_textarea:after {
    transform: translateY(0);
    top: 29px; }
  .field.error:after {
    opacity: 1; }

.field_textarea {
  border: 1px solid #E5E5E5;
  border-radius: 20px !important;
  padding: 30px; }
  .field_textarea textarea {
    resize: none;
    width: 100%;
    height: 290px;
    vertical-align: bottom; }

.wrapper_go_home {
  margin-top: 134px;
  text-align: center;
  margin-bottom: 70px; }

#loader_page {
  transition: .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #fff;
  z-index: 1000; }
  #loader_page.on {
    opacity: 0;
    pointer-events: none; }

header {
  border-bottom: 1px solid #E5E5E5;
  padding: 22px 0;
  position: relative; }
  header .logo {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 100%;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .logo:hover {
      border-color: #000000;
      color: #000000; }
  header .page {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .page nav a {
      font-weight: 400; }
      header .page nav a:not(:first-child) {
        margin-left: 77px; }
      header .page nav a.active {
        color: #29ABE2; }
  header .btn:not(:hover) {
    color: #7F7F7F; }
  header .user_menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #29ABE2;
    font-size: 25px;
    line-height: 30px;
    font-weight: 300; }
  header .status_work {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px; }
    header .status_work span {
      font-size: 25px; }
  header .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center; }
    header .center a {
      font-size: 14px;
      font-weight: 400;
      color: #7F7F7F;
      border: 1px solid #F2F2F2;
      width: 178px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center; }
      header .center a:first-child {
        border-radius: 100px 0 0 100px;
        border-right: 0; }
      header .center a:last-child {
        border-radius: 0 100px 100px 0;
        border-left: 0; }
      header .center a.current {
        border-color: #29ABE2;
        background: #29ABE2;
        color: #fff; }

.title_page {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin-top: 120px;
  font-weight: 300; }

.about .title_page {
  margin-bottom: 153px; }

.about .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .about .row:not(:last-child) {
    margin-bottom: 260px; }

.about .col {
  width: 47%;
  text-align: center; }
  .about .col .t {
    font-size: 25px;
    line-height: 30px;
    margin: 7px 0 0; }
  .about .col .text {
    line-height: 24px;
    width: 320px;
    max-width: 100%;
    margin: 61px auto 0; }

.about .image {
  width: 39.13%;
  height: 291px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px; }
  .about .image.image_1 {
    background-image: url(../images/about-1.jpg); }
  .about .image.image_2 {
    background-image: url(../images/about-2.jpg); }
  .about .image.image_3 {
    background-image: url(../images/about-3.jpg); }
  .about .image.image_4 {
    background-image: url(../images/about-4.jpg); }

.rules {
  width: 767px;
  max-width: 100%;
  margin: 0 auto; }
  .rules .description_rules {
    margin: 61px 0 115px;
    padding: 0 10% 44px;
    border-bottom: 1px solid #E5E5E5;
    line-height: 24px;
    color: #7F7F7F;
    text-align: center;
    font-style: italic; }
  .rules .row:not(:last-child) {
    margin: 0 0 145px; }
  .rules .title_row, .rules h2, .rules h3 {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
    margin: 0 0 57px; }
  .rules p {
    font-size: 14px;
    color: #7F7F7F;
    line-height: 21px;
    font-weight: 400;
    margin: 0 0 12px; }
    .rules p strong, .rules p b {
      color: #000000;
      font-weight: 400; }
  .rules ul, .rules li {
    list-style: decimal;
    font-size: 14px;
    color: #000;
    line-height: 21px;
    font-weight: 400; }
    .rules ul p, .rules li p {
      margin: 0; }
  .rules ul {
    padding: 0 0 0 14px;
    margin: 0 0 12px; }
  @media all and (max-width: 800px) {
    .rules ol {
      padding-left: 17px; } }
  .rules li {
    padding: 0 0 0 10px; }
    .rules li:not(:last-child) {
      margin: 0 0 22px; }

.tabs_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 96px; }
  .tabs_block .tab {
    font-size: 14px;
    font-weight: 400;
    color: #7F7F7F;
    border: 1px solid #F2F2F2;
    width: 178px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .tabs_block .tab:first-child {
      border-radius: 100px 0 0 100px;
      border-right: 0; }
    .tabs_block .tab:last-child {
      border-radius: 0 100px 100px 0;
      border-left: 0; }
    .tabs_block .tab.active {
      border-color: #29ABE2;
      background: #29ABE2;
      color: #fff; }

.faq .title_page {
  margin-bottom: 55px; }

.faq .row {
  border-bottom: 1px solid #E5E5E5;
  line-height: 19px;
  padding: 0 0 56px; }
  .faq .row:not(:last-child) {
    margin: 0 0 55px; }

.faq .question {
  margin-bottom: 15px; }

.faq .answer {
  color: #7F7F7F; }

.chat_page {
  width: 588px;
  max-width: 100%;
  margin: 0 auto; }
  .chat_page .chat {
    margin: 85px 0 70px;
    min-height: 154px;
    position: relative; }
    .chat_page .chat .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .chat_page .chat .message:not(:last-child) {
      margin-bottom: 44px; }
    .chat_page .chat .message.my_message {
      text-align: right; }
    .chat_page .chat .message p {
      display: inline-block;
      width: 432px;
      max-width: 87%;
      padding: 16px 30px;
      border: 1px solid #E5E5E5;
      border-radius: 20px;
      font-size: 14px;
      color: #4C4C4C;
      line-height: 21px;
      font-weight: 400;
      text-align: left; }

#form_send_message {
  width: 100%;
  height: 117px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  padding: 14px 10px 14px 30px;
  position: relative; }
  #form_send_message textarea {
    width: 100%;
    height: 100%;
    padding: 10px 120px 10px 0;
    resize: none; }
  #form_send_message button {
    position: absolute;
    bottom: 11px;
    right: 15px; }

.contact_page {
  width: 590px;
  max-width: 100%;
  margin: 0 auto; }
  .contact_page .title_page {
    margin-bottom: 71px; }
  .contact_page .contact_form {
    position: relative; }
    .contact_page .contact_form form {
      position: relative;
      transition: .3s; }
      .contact_page .contact_form form .send_btn {
        width: 174px;
        position: absolute;
        bottom: 41px;
        left: 50%;
        transform: translateX(-50%); }
      .contact_page .contact_form form textarea {
        padding-bottom: 90px;
        height: 228px; }
    .contact_page .contact_form .message_form {
      text-align: center;
      color: #29ABE2;
      line-height: 24px;
      border: 1px solid #E5E5E5;
      border-radius: 20px;
      padding: 48px 30px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      opacity: 0;
      pointer-events: none;
      transition: .3s; }
      .contact_page .contact_form .message_form .text {
        width: 390px;
        max-width: 100%;
        margin: 53px auto 0; }
    .contact_page .contact_form.sended .message_form {
      opacity: 1;
      pointer-events: auto; }
    .contact_page .contact_form.sended form {
      opacity: 0;
      pointer-events: none; }

footer {
  border-top: 1px solid #E5E5E5;
  padding: 28px 0; }
  footer .logo {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 100%;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .logo:hover {
      border-color: #000000;
      color: #000000; }
  footer .page {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  footer nav a {
    font-size: 14px;
    font-weight: 400; }
    footer nav a:not(:first-child) {
      margin-left: 70px; }
    footer nav a.active {
      color: #29ABE2; }

.tabs {
  padding: 94px 0 33px;
  text-align: center; }
  .tabs a {
    display: inline-block;
    font-size: 28px;
    font-weight: 300;
    padding: 0 11px 15px;
    margin: 0 60px;
    border-bottom: 1px solid transparent; }
    .tabs a.current {
      color: #29ABE2;
      border-color: #29ABE2; }

.form_translate {
  padding: 0 0 146px; }
  .form_translate p {
    text-align: center;
    color: #29ABE2;
    margin: 0 0 87px; }
  .form_translate textarea {
    height: 202px; }
  .form_translate .field_textarea {
    position: relative;
    padding-bottom: 106px;
    border-color: #F2F2F2; }
  .form_translate .lang {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 280px; }
    .form_translate .lang .text {
      padding-left: 30px;
      font-size: 14px;
      line-height: 24px; }
      .form_translate .lang .text div:last-child {
        font-weight: 400; }
  .form_translate .formats {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 56px 0 65px; }
  .form_translate .file_translate {
    position: relative; }
    .form_translate .file_translate .add_file {
      display: none; }
      .form_translate .file_translate .add_file + label {
        cursor: pointer;
        display: block;
        height: 208px;
        width: 100%;
        border: 1px solid #F2F2F2;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: .3s;
        position: absolute;
        left: 0;
        top: 0; }
        .form_translate .file_translate .add_file + label .loader {
          width: 44px;
          height: 44px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        .form_translate .file_translate .add_file + label .plus {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 45px;
          height: 45px;
          background: url(../images/icons/plus.svg) center/45px 45px no-repeat;
          pointer-events: none; }
    .form_translate .file_translate .field_textarea {
      position: relative;
      pointer-events: none;
      opacity: 0;
      transition: .3s;
      padding-top: 40px; }
      .form_translate .file_translate .field_textarea textarea {
        height: 60px;
        transition: .3s; }
      .form_translate .file_translate .field_textarea .file_info .name {
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        padding: 0 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center; }
      .form_translate .file_translate .field_textarea .file_info .lang {
        width: auto;
        position: absolute;
        bottom: 38px;
        left: 37px; }
      .form_translate .file_translate .field_textarea .cancel {
        background: url(../images/icons/cancel.svg) center/15px 15px no-repeat;
        width: 15px;
        height: 15px;
        position: absolute;
        z-index: 2;
        top: 17px;
        right: 12px;
        cursor: pointer; }
    .form_translate .file_translate.active .add_file + label {
      opacity: 0;
      pointer-events: none; }
    .form_translate .file_translate.active .field_textarea {
      opacity: 1;
      pointer-events: auto; }
      .form_translate .file_translate.active .field_textarea textarea {
        height: 400px; }
  .form_translate .button_choose_wrapper .btn {
    width: 218px; }
  .form_translate .text_information {
    position: absolute;
    bottom: 38px;
    left: 37px;
    right: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .2s; }
    .form_translate .text_information.active {
      opacity: 1;
      pointer-events: auto; }
    .form_translate .text_information .loader {
      width: 44px;
      height: 44px; }
    .form_translate .text_information .buttons {
      display: flex;
      align-items: center;
      margin-left: 21px; }
      .form_translate .text_information .buttons .btn {
        height: 55px;
        width: 52px;
        min-width: auto; }
        .form_translate .text_information .buttons .btn:first-child {
          width: 218px;
          margin-right: 14px; }

.title_inside {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 126px; }

.how_it_work {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  padding: 96px 0 12px; }
  .how_it_work .steps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center; }
    .how_it_work .steps .step {
      width: 29.34%;
      position: relative;
      margin-bottom: 99px; }
      .how_it_work .steps .step .n {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        box-shadow: 2px 2px 4px rgba(229, 229, 229, 0.5);
        font-size: 22px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -68%);
        background: #FFFFFF; }
      .how_it_work .steps .step .text {
        border: 1px solid #F2F2F2;
        border-radius: 20px;
        height: 136px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        padding: 0 16px; }

.why {
  padding: 122px 0 0; }
  .why .title_inside {
    margin: 0 0 146px; }
  .why .items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; }
    .why .items .item {
      position: relative;
      width: 47.19%;
      margin-bottom: 128px; }
    .why .items .ico {
      width: 85px;
      height: 85px;
      border-radius: 100%;
      box-shadow: 2px 2px 4px rgba(229, 229, 229, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -68%);
      background: #FFFFFF; }
    .why .items .text {
      border: 1px solid #F2F2F2;
      border-radius: 20px;
      min-height: 314px;
      text-align: center;
      padding: 60px 16px 0; }
    .why .items .t {
      font-size: 20px;
      font-weight: 400;
      margin: 0 0 28px; }
    .why .items p {
      font-size: 16px;
      line-height: 24px;
      width: 308px;
      max-width: 100%;
      margin: 0 auto; }

.info_numbers {
  padding: 80px 0 73px;
  background: #F2F2F2; }
  .info_numbers .items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center; }
    .info_numbers .items .item {
      width: 21.57%; }
      .info_numbers .items .item:nth-child(2) {
        margin: 0 82px; }
    .info_numbers .items .n {
      width: 150px;
      height: 150px;
      margin: 0 auto 35px;
      border: 1px solid #E5E5E5;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 400; }
    .info_numbers .items .text {
      font-size: 18px;
      color: #7F7F7F; }

.our_mission {
  padding: 131px 0 168px; }
  .our_mission .title_inside {
    margin: 0 0 76px; }
  .our_mission .text {
    margin: 0 auto;
    width: 612px;
    max-width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 30px; }

.wrapper_choose {
  padding-bottom: 115px; }
  .wrapper_choose .first_text_free {
    text-align: center;
    color: #29ABE2;
    margin: 45px 0 0; }
  .wrapper_choose .title_page {
    position: relative; }
    .wrapper_choose .title_page .back {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 38px;
      height: 38px;
      cursor: pointer; }
      .wrapper_choose .title_page .back svg {
        width: 38px;
        height: 38px;
        transition: .3s;
        fill: #000; }

.items_choose {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 92px 0 44px; }
  .items_choose .item {
    width: calc( (100% - 48px * 2) / 3);
    height: 77px;
    margin: 0 47px 42px 0;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
    cursor: pointer;
    transition: .3s; }
    .items_choose .item:nth-child(3n) {
      margin-right: 0; }
    .items_choose .item.current {
      background: #F9F9F9; }
    .items_choose .item .image {
      width: 38px; }
    .items_choose .item .text {
      flex-grow: 1;
      font-size: 14px;
      font-weight: 400;
      display: inline-flex;
      justify-content: center; }
    .items_choose .item.item_lang_add {
      align-items: flex-start;
      padding: 20px 0 0 30px;
      height: 100px; }
      .items_choose .item.item_lang_add .text {
        padding: 6px 0 0; }
        .items_choose .item.item_lang_add .text p {
          display: flex;
          flex-direction: column;
          position: relative; }
        .items_choose .item.item_lang_add .text div {
          margin: 0 0 12px; }
        .items_choose .item.item_lang_add .text span {
          color: #29ABE2;
          font-size: 16px; }
          .items_choose .item.item_lang_add .text span.old {
            position: absolute;
            top: 18px;
            left: 0;
            color: #797979;
            font-size: 12px;
            text-decoration: line-through; }

.button_choose_wrapper {
  text-align: center; }

.popup_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 100;
  display: flex;
  transition: .5s;
  opacity: 0;
  pointer-events: none; }
  .popup_wrapper.open_popup {
    opacity: 1;
    pointer-events: auto; }
  .popup_wrapper .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.25;
    cursor: pointer; }
  .popup_wrapper .popup {
    position: relative;
    width: 467px;
    max-width: 100%;
    min-width: 320px;
    max-height: 100%;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start; }
  .popup_wrapper .close {
    position: relative; }
    .popup_wrapper .close button {
      position: absolute;
      top: 20px;
      right: 19px;
      cursor: pointer; }
  .popup_wrapper .content_popup {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 66px 58px 53px; }
    .popup_wrapper .content_popup button {
      width: 100%;
      margin: 48px 0 45px; }
      .popup_wrapper .content_popup button.registration_btn {
        margin-bottom: 33px; }
      .popup_wrapper .content_popup button.comment_btn {
        margin: 31px 0 0; }
      .popup_wrapper .content_popup button.email_btn {
        margin: 31px 0 0;
        position: relative; }
        .popup_wrapper .content_popup button.email_btn .loader {
          width: 35px;
          height: 35px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: .2s;
          opacity: 0;
          pointer-events: none; }
          .popup_wrapper .content_popup button.email_btn .loader > circle {
            fill: #fff; }
        .popup_wrapper .content_popup button.email_btn span {
          transition: .2s; }
        .popup_wrapper .content_popup button.email_btn.load_btn .loader {
          opacity: 1; }
        .popup_wrapper .content_popup button.email_btn.load_btn span {
          opacity: 0; }
    .popup_wrapper .content_popup .error_wrapper {
      position: relative; }
    .popup_wrapper .content_popup .error_text {
      transition: .3s;
      opacity: 0;
      text-align: center;
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      color: #da001e;
      font-size: 16px; }
      .popup_wrapper .content_popup .error_text.active {
        opacity: 1; }
  .popup_wrapper .field input {
    border-radius: 0 !important;
    border: 0;
    border-bottom: 1px solid #29ABE2;
    padding: 0 38px 0 0; }
  .popup_wrapper .field:not(:last-of-type) {
    margin-bottom: 18px; }
  .popup_wrapper .title {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 29px; }
  .popup_wrapper p {
    color: #7F7F7F;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px; }
    .popup_wrapper p a {
      color: #7F7F7F;
      text-decoration: underline; }
  .popup_wrapper .link_registration {
    display: none; }
  .popup_wrapper .link_tab {
    text-align: center;
    border-top: 1px solid #E5E5E5;
    padding: 28px 0 0; }
    .popup_wrapper .link_tab a {
      font-size: 14px;
      font-weight: 400;
      color: #29ABE2; }
      @media all and (min-width: 1025px) {
        .popup_wrapper .link_tab a:hover {
          color: #29B2E8; } }
  .popup_wrapper.from_header .link_tab {
    display: none; }
  .popup_wrapper.from_header .link_registration {
    display: block; }
  .popup_wrapper .message_content {
    text-align: center; }
    .popup_wrapper .message_content .ico {
      width: 69px;
      height: 69px;
      display: inline-block;
      background: url(../images/icons/information.svg) center/69px 69px no-repeat; }
      .popup_wrapper .message_content .ico.pay {
        background: url(../images/icons/pay.svg) center/69px 69px no-repeat; }
    .popup_wrapper .message_content .text {
      color: #29ABE2;
      font-size: 16px;
      line-height: 24px;
      margin: 40px 0 0; }
    .popup_wrapper .message_content .btn {
      width: 228px;
      height: 40px;
      margin-bottom: 0;
      min-width: auto; }
      .popup_wrapper .message_content .btn.pay {
        width: 348px;
        height: 55px; }
    .popup_wrapper .message_content .wrapper_buttons {
      display: flex;
      align-items: center;
      justify-content: center; }
    .popup_wrapper .message_content.for_order .btn_blue {
      margin-left: 8px;
      width: 51px;
      height: 40px; }
    .popup_wrapper .message_content.for_order .close {
      display: inline-block;
      width: 21px;
      height: 21px;
      background: url(../images/icons/close.svg) center/21px 21px no-repeat; }

@keyframes ball-spin-fade-loader {
  50% {
    transform: scale(0.3); }
  100% {
    transform: scale(1); } }

.search_work {
  position: relative;
  text-align: center;
  padding: 150px 0 100px; }
  .search_work svg, .search_work img {
    vertical-align: top; }
  .search_work p {
    width: 386px;
    max-width: 100%;
    margin: 40px auto 0;
    line-height: 27px;
    font-size: 18px;
    font-weight: 400; }
  .search_work .btn {
    margin-top: 30px; }

.loader {
  position: relative;
  width: 101px;
  height: 101px; }

.loader > circle:nth-child(1) {
  animation: ball-spin-fade-loader 1s -.96s infinite linear;
  transform-origin: 50% 11%; }

.loader > circle:nth-child(2) {
  animation: ball-spin-fade-loader 1s -.84s infinite linear;
  transform-origin: 78% 23%; }

.loader > circle:nth-child(3) {
  animation: ball-spin-fade-loader 1s -.72s infinite linear;
  transform-origin: 89% 50%; }

.loader > circle:nth-child(4) {
  animation: ball-spin-fade-loader 1s -.6s infinite linear;
  transform-origin: 78% 77%; }

.loader > circle:nth-child(5) {
  animation: ball-spin-fade-loader 1s -.48s infinite linear;
  transform-origin: 50% 89%; }

.loader > circle:nth-child(6) {
  animation: ball-spin-fade-loader 1s -.36s infinite linear;
  transform-origin: 23% 78%; }

.loader > circle:nth-child(7) {
  animation: ball-spin-fade-loader 1s -.24s infinite linear;
  transform-origin: 11% 50%; }

.loader > circle:nth-child(8) {
  animation: ball-spin-fade-loader 1s -.12s infinite linear;
  transform-origin: 23% 23%; }

.loader > circle {
  animation-fill-mode: both; }

.balance_page {
  padding-bottom: 50px; }
  .balance_page .score {
    text-align: center;
    margin: 109px 0 65px; }
    .balance_page .score div {
      font-size: 30px;
      line-height: 36px;
      font-weight: 400;
      margin-bottom: 14px; }
    .balance_page .score span {
      font-size: 16px;
      line-height: 19px;
      font-weight: 300; }

.withdraw_systems {
  display: flex;
  justify-content: space-between;
  margin-bottom: 115px; }
  .withdraw_systems .item {
    width: 31%;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    height: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .withdraw_systems .item img {
      width: 170px; }
    .withdraw_systems .item:nth-child(3) img {
      width: 66px;
      height: 66px; }

.history .title_inside {
  margin-bottom: 45px; }

.history .item {
  padding: 17px 20px;
  border: 1px solid #F2F2F2;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px; }
  .history .item div {
    width: 100%; }
    .history .item div i {
      color: #797979;
      font-size: 12px;
      font-style: normal; }
    .history .item div span {
      display: block;
      line-height: 20px; }
      .history .item div span.old {
        color: #797979;
        font-size: 12px;
        text-decoration: line-through; }

.status_search {
  text-align: center;
  padding-top: 109px;
  padding-bottom: 132px; }
  .status_search .progress_wrapper {
    width: 78px;
    height: 78px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto 37px;
    border: 1px solid #F7F7F7;
    position: relative; }
    .status_search .progress_wrapper:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #F7F7F7;
      border-radius: 100%;
      width: calc(100% - 15px);
      height: calc(100% - 15px); }
  .status_search .status_search {
    width: 78px;
    height: 78px;
    margin: 0 auto; }
  .status_search .btn {
    width: 298px; }
  .status_search .items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 124px; }
    .status_search .items .item {
      border: 1px solid #F2F2F2;
      border-radius: 20px;
      width: 46.87%;
      padding: 42px 20px; }
      .status_search .items .item .t {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 27px; }
      .status_search .items .item .time {
        font-size: 16px;
        line-height: 19px;
        color: #7F7F7F; }

.work_interface {
  padding-bottom: 128px; }
  .work_interface .title_page {
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 29px; }
  .work_interface .hidden_comment {
    display: none; }
  .work_interface .comment {
    box-shadow: 2px 2px 4px rgba(229, 229, 229, 0.5);
    border: 1px solid #F9F9F9;
    border-radius: 20px;
    padding: 25px 34px 43px;
    margin-bottom: 52px; }
    .work_interface .comment.rise_comment {
      background: #FAFAFA;
      position: relative; }
      .work_interface .comment.rise_comment .close {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
        width: 19px;
        height: 19px; }
    .work_interface .comment .t {
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      margin-bottom: 17px; }
    .work_interface .comment .text {
      font-size: 16px;
      line-height: 19px; }
  .work_interface .info_order {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px; }
    .work_interface .info_order .col {
      width: calc((100% - 20px) / 2);
      display: flex;
      justify-content: space-between; }
    .work_interface .info_order .item {
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #F2F2F2;
      border-radius: 20px;
      height: 59px; }
      .work_interface .info_order .item:not(:last-child) {
        margin-right: 14px; }
      .work_interface .info_order .item:not(.button) {
        flex-grow: 1; }
      .work_interface .info_order .item.button {
        width: 83px;
        flex-shrink: 0;
        cursor: pointer; }
      .work_interface .info_order .item.time_item span {
        font-size: 12px;
        color: #999999; }
    .work_interface .info_order .ico {
      width: 23px;
      height: 23px;
      display: inline-block; }
    .work_interface .info_order .pause {
      background: url(../images/icons/pause.svg) center/23px 23px no-repeat; }
    .work_interface .info_order .artistic-brush {
      background: url(../images/icons/artistic-brush.svg) center/23px 23px no-repeat;
      margin-right: 23px; }
    .work_interface .info_order .next {
      background: url(../images/icons/next.svg) center/23px 23px no-repeat; }
    .work_interface .info_order .clock {
      background: url(../images/icons/clock.svg) center/23px 23px no-repeat;
      margin-right: 23px; }
  .work_interface .text_translate {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 59px; }
    .work_interface .text_translate .field {
      width: calc((100% - 20px) / 2);
      margin-bottom: 0; }
    .work_interface .text_translate textarea {
      height: 100%;
      min-height: 74px;
      max-height: 590px;
      border: 1px solid #F2F2F2; }
  .work_interface .title_stars {
    font-size: 16px;
    line-height: 25px;
    margin-top: 62px; }
  .work_interface .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px; }
    .work_interface .stars i {
      width: 35px;
      height: 35px;
      background: url(../images/icons/star.svg) center/35px 35px no-repeat;
      cursor: pointer;
      margin: 0 8px; }

.info_block {
  text-align: center;
  width: 550px;
  max-width: 100%;
  margin: 130px auto 96px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  padding: 55px 100px 90px; }
  .info_block .loader {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 0 0 45px; }
  .info_block .ico {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0 0 45px;
    background: url(../images/icons/information.svg) center/35px 35px no-repeat; }
    .info_block .ico.time {
      background: url(../images/icons/time-left.svg) center/35px 35px no-repeat; }
  .info_block p {
    font-size: 20px;
    line-height: 30px;
    color: #29ABE2; }

.wrapper_button_work {
  margin: 0 0 118px;
  text-align: center; }

.order_accept {
  text-align: center;
  padding: 100px 0; }
  .order_accept .translator {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 26px; }
  .order_accept .ico_smile {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: url(../images/icons/smile.svg) center/60px 60px no-repeat;
    margin-bottom: 23px; }
  .order_accept .btn {
    width: 298px; }
  .order_accept .btn_red {
    margin: 0 0 69px; }
  .order_accept .result_wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 0 93px; }
    .order_accept .result_wrapper.hidden {
      display: none; }
    .order_accept .result_wrapper a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 15px;
      padding: 6.75% 6.3%;
      border: 1px solid #F2F2F2;
      border-radius: 20px; }
      .order_accept .result_wrapper a img {
        max-width: 90%; }
  .order_accept .result_editing {
    margin: -39px 0 0; }
    .order_accept .result_editing .title {
      font-size: 16px;
      text-align: center;
      margin-bottom: 32px;
      font-weight: 400; }
    .order_accept .result_editing.hidden {
      display: none; }

.form_sender {
  position: relative; }
  .form_sender .error_popup_message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transition: .3s; }
    .form_sender .error_popup_message .ico {
      width: 100px;
      height: 100px;
      background: url("../images/icons/exclamation.svg") center/100% no-repeat;
      margin: 0 auto 27px; }
    .form_sender .error_popup_message .text {
      line-height: 27px;
      color: #ED1C24;
      text-align: center;
      font-size: 18px;
      font-weight: 400; }
    .form_sender .error_popup_message.registration_error .btn {
      margin: auto 0 33px; }
    .form_sender .error_popup_message .btn {
      margin-top: auto; }
    .form_sender .error_popup_message.show {
      opacity: 1;
      pointer-events: auto; }

#page_404 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #29ABE2;
  z-index: 1000;
  display: flex;
  text-align: center;
  color: #fff; }
  #page_404 .wrapper_go_home {
    margin: 0; }
    #page_404 .wrapper_go_home .btn {
      color: #fff; }
  #page_404 main {
    margin: auto; }
  #page_404 h1 {
    font-size: 200px;
    line-height: 200px;
    margin: 0 0 50px; }

@media screen and (min-width: 1025px) {
  body.no_scroll {
    padding-right: 17px; }
  .popup_wrapper,
  #loader_page {
    left: calc(100vw - 100%);
    right: 0; } }

@media all and (max-width: 820px) {
  .work_interface .info_order .clock {
    margin-right: 10px; }
  .work_interface .info_order .artistic-brush {
    margin-right: 14px; }
  .work_interface .info_order .item.button {
    width: 50px; } }

@media all and (max-width: 800px) {
  .wrapper_choose {
    padding-bottom: 60px; }
  .items_choose {
    justify-content: space-between;
    padding: 42px 0 0; }
    .items_choose .item {
      width: 48%;
      margin-right: 0;
      margin-bottom: 20px; }
      .items_choose .item.item:nth-child(3n) {
        margin-right: 0; } }

@media all and (max-width: 768px) {
  .form_translate {
    padding: 0 0 50px; }
  .how_it_work .steps .step {
    width: 47.19%; }
  .info_numbers .items {
    justify-content: space-between; }
    .info_numbers .items .item {
      width: auto; }
    .info_numbers .items .item:nth-child(2) {
      margin: 0; } }

@media all and (max-width: 700px) {
  header .page nav a:not(:first-child) {
    margin-left: 30px; }
  .form_translate .text_information {
    flex-wrap: wrap; }
    .form_translate .text_information .lang {
      margin: 0 20px 18px 0; }
    .form_translate .text_information .buttons {
      margin-left: 0; }
      .form_translate .text_information .buttons .btn:first-child {
        width: 170px; }
  .rules .row:not(:last-child),
  .faq .title_page,
  .about .title_page {
    margin-bottom: 60px; }
  .about .row {
    width: 100%;
    flex-direction: column; }
    .about .row .col,
    .about .row .image {
      width: 100%;
      order: 0; }
      .about .row .col .text,
      .about .row .image .text {
        margin: 17px auto 30px; }
    .about .row .col.image {
      order: 1; }
    .about .row:not(:last-child) {
      margin-bottom: 60px; }
  .wrapper_go_home {
    margin-top: 60px; }
  .rules .title_row, .rules h2, .rules h3 {
    margin: 0 0 30px; }
  .balance_page .score {
    margin: 60px 0 40px; }
  .withdraw_systems .item img {
    max-width: 80%; } }

@media all and (max-width: 640px) {
  .work_interface {
    padding-bottom: 60px; }
    .work_interface .info_order {
      flex-wrap: wrap;
      margin-bottom: 0; }
      .work_interface .info_order .col {
        width: 100%;
        margin-bottom: 14px; }
        .work_interface .info_order .col .item:first-child {
          min-width: 20%;
          flex-shrink: 0;
          flex-grow: 0; }
    .work_interface .text_translate {
      flex-wrap: wrap;
      margin-bottom: 30px; }
      .work_interface .text_translate .field {
        width: 100%; }
        .work_interface .text_translate .field:first-child {
          margin-bottom: 2vh; }
        .work_interface .text_translate .field textarea {
          max-height: 48vh; }
    .work_interface .comment {
      padding: 24px 20px; } }

@media all and (max-width: 620px) {
  .form_translate .text_information .lang {
    margin-right: 0;
    width: 100%; }
  .form_translate .field_textarea.for_text_tab {
    padding-bottom: 0;
    transition: .3s; }
    .form_translate .field_textarea.for_text_tab.active {
      padding-bottom: 170px; } }

@media all and (max-width: 600px) {
  .how_it_work .steps .step,
  .why .items .item {
    width: 100%; }
  .form_translate p {
    margin: 0 0 40px; } }

@media all and (max-width: 560px) {
  header .center a {
    width: 120px; }
  header .status_work span {
    font-size: 18px; }
  .info_numbers .items {
    flex-wrap: wrap; }
    .info_numbers .items .n {
      margin: 0 auto 14px; }
    .info_numbers .items .item,
    .info_numbers .items .item:nth-child(2) {
      width: 100%;
      margin: 0 0 40px; }
  .why .title_inside,
  .title_inside {
    margin: 0 0 90px; }
  .our_mission {
    padding: 77px 0 100px; }
    .our_mission .title_inside {
      margin: 0 0 40px; }
  .why .items .item {
    margin-bottom: 80px; }
  .how_it_work .steps .step {
    margin-bottom: 60px; }
  footer .page {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    footer .page nav {
      margin-top: 15px; }
      footer .page nav a,
      footer .page nav a:not(:first-child) {
        margin: 0 8px; }
  .items_choose {
    justify-content: space-between; }
    .items_choose .item {
      width: 100%; }
  .status_search {
    padding-top: 60px;
    padding-bottom: 60px; }
    .status_search .items {
      margin-bottom: 60px; }
      .status_search .items .item {
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 26px 20px; }
        .status_search .items .item .progress_wrapper {
          margin-bottom: auto; }
        .status_search .items .item .t {
          font-size: 14px;
          margin-top: 37px;
          margin-bottom: 10px; }
        .status_search .items .item .time {
          font-size: 14px; }
  .info_block {
    margin: 60px auto 40px;
    padding: 55px 20px 90px; }
  .wrapper_button_work {
    margin: 0 0 60px; }
  .title_page {
    margin-top: 60px; } }

@media all and (max-width: 500px) {
  .popup_wrapper .popup {
    width: 100%;
    height: 100%;
    border-radius: 0; }
    .popup_wrapper .popup .content_popup {
      padding: 66px 20px 53px; }
  .search_work {
    padding: 100px 0; }
  .withdraw_systems {
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .withdraw_systems .item {
      width: 100%;
      margin-bottom: 20px; }
  .history .items {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap; }
    .history .items .item {
      width: 48%;
      display: block;
      text-align: center; }
  .order_accept .result_wrapper a {
    margin: 0 6px; } }

@media all and (max-width: 450px) {
  header .status_work {
    left: auto;
    right: 20px;
    transform: translate(0, -50%); }
    header .status_work span {
      font-size: 18px; }
  header .page nav a {
    font-size: 14px; }
    header .page nav a:not(:first-child) {
      margin-left: 18px; }
  .tabs a {
    margin: 0 30px; }
  #page_404 h1 {
    font-size: 150px;
    line-height: 150px; } }

@media all and (max-width: 420px) {
  header .logo {
    width: 40px;
    height: 40px;
    font-size: 16px; }
  header .center a {
    width: 86px;
    font-size: 12px; } }

@media all and (max-width: 380px) {
  header.simple_header .page {
    flex-direction: column; }
    header.simple_header .page nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 19px 0 0; } }
